* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  @media (max-width:576px) {
    .navbar-right-basket {
        display: none;
    }
  
    .navbar-left-logo {
        margin-left: 20px;
    }
  
    .menu {
        display: none;
    }
  }
  .nav {
    width: 100%;
    top:0;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 3px 10px rgba(0,0,0, .15);
    z-index: 99;
  }
  
  .navbar {
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left-logo {
    transition: all 0.1s ease;
  }
  .navbar-left-logo:hover {
    transform: scale(1.1);
  }
  .navbar-left-logo:active {
    transform: scale(1);
  }
  
  .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .navbar-right-btn button {
    padding: 14px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    background-color: #fff;
    transition: all 0.3s ease;
    margin: 10px 20px 10px 0;
  }
  .navbar-right-btn button:hover {
    cursor: pointer;
    background-color: #e0e0e0;
    border-color: #919191;
  }
  .navbar-right-btn button:active {
    transform: scale(.9);
  }
  
  .navbar-right-basket {
    transition: all .1s ease;
  }
  .navbar-right-basket:hover {
    transform: scale(1.1);
  }
  .navbar-right-basket:active {
    transform: scale(1);
  }
  
  .main {
    max-width: 1124px;
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 90px;
  }
  .back {
    background: url(Restaurant/background.svg);
    width: 100%;
    max-width: 1124px;
    margin: 76px auto;
  }
  .name {
    display: flex;
  }
  .name > img {
    display: flex;
    width: 100%;
    margin: 50px 0;
    align-items: flex-start;
    float:left;
  }
  .name-xs {
    background: url(Restaurant/background_xs.svg);
    background-size: cover;
    margin: 60px auto;
    top:60px;
    width: 100%;
  }
  .name-xs > img {
    width: 100%;
    position: relative;
    top: 100px;;

  }
  
  .footer {
    width: 100%;
    background-color: #262626;
  }
  
  .footer-content {
    max-width: 1124px;
    margin: 0 auto;
  }
  
  .footer-content hr {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, .4);
    margin-bottom: 32px;
  }
  
  .footer-content-logo {
    margin-top: 56px;
    margin-bottom: 40px;
  }
  
  .footer-content-main-box1 {
    margin-bottom: 40px;
  }
  
  .lng {
    width: 100%;
    background-color: #3B3B3B;
    border-radius: 5px;
    margin-bottom: 33px;
    display: flex;
    justify-content: space-around;
  }
  
  .lng select {
    background-color: #3b3b3b;
    width: 80%;
    color: #fff;
    padding: 12px 0;
    border: none;
    padding-left: 5px;
  }
  .lng select:focus {
    outline: none;
  }
  .lng select:hover {
    cursor: pointer;
  }
  
  
  .footer-box1-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    margin-bottom: 20px;
  }
  .footer-box1-text span{
    color: #49A144;
  }
  
  .twitter {
    margin: 0 10px;
    transition: all 0.1s ease;
  }
  
  .instagram, .facebook {
    transition: all 0.1s ease;
  }
  
  .twitter:hover, .facebook:hover, .instagram:hover {
    transform: scale(1.2);
  }
  .twitter:active, .facebook:active, .instagram:active {
    transform: scale(1);
  }
  
  .footer-content-main-box2 a, .footer-content-main-box3 a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
  }
  
  .footer-content-main-box2 a:hover, .footer-content-main-box3 a:hover {
    color: #59BD5A;
  }
  .footer-content-main-box2 div, .footer-content-main-box3 div {
    margin-bottom: 23px;
  }
  
  .footer-content-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  
  .footer-content-mobile a {
    padding: 8px 20px;
    transition: all 0.1s ease;
  }
  .footer-content-mobile a:hover {
    transform: scale(1.1);
  }
  .footer-content-mobile a:active {
    transform: scale(1);
  }
  
  .footer-content-copyright {
    margin-bottom: 16px;
  }
  
  .copyright-text {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    line-height: 12.89px;
    margin-bottom: 24px;
  }
  
  .footer .row {
    margin-right: 0;
  }
  
  .go-up {
    width: 80px;
    height: 80px;
    background-color: #59BD5A;
    position: fixed;
    border-radius: 2px;
    z-index: 99;
    bottom: 24px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
  }
  .go-up:hover {
    background-color: #3c953d;
  }
  .go-up:active {
    transform: scale(.9);
  }
  .menu {
    position: relative;
    max-width: 1124px;
    margin: 0 auto;
    bottom: 40px;
  }

  .menu-list li {
    position: relative;
    display: inline-block;
    margin-right: 40px;   
  }
  
  .menu-list a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #626262;
    padding-bottom: 2px;
  }
  .menu-list a:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #327430;
    transition: all .19s ease;
  }
  .menu-list a:hover {
    color: #327430;
  }
  .menu-list a:hover:before {
    width: 100%;
  }
  
  .menu hr {
    padding-bottom: 15px;
    padding-top: 15px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 0px #757575;
    opacity: 20%;
  }
  
  
  .main-container {
    max-width: 1124px;
    margin: 0 auto;
  }
  
  .main-tittle {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    color: #1d1d1d;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .position-menu a {
    text-decoration: none;
  }
  .main-menu {
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(117, 117, 117, .2);
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .main-menu:hover {
    background-color: rgba(117, 117, 117, .1);
    box-shadow: 0 0 10px rgba(0,0,0, .25);
    transform: scale(.95);
  }
  .main-menu:active {
    transform: scale(.9);
  }
  
  .main-menu img {
    width: 170px;
    height: 160px;
    border-radius: 5px;
    float: right;
    overflow: hidden;
  }
  
  .position-left {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .left-tittle {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1d1d1d;
  }
  
  .left-info {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #626262;
  }
  
  .left-price {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    color: #1d1d1d;
  }
  
  @media (max-width:576px) {
  
    .main-menu img {
        width: 100%;
        height: 100%;
    }
  
    .main-menu {
        height: 102px;
        border: none;
        border-bottom: 1px solid rgba(117, 117, 117, .2);
    }
  
    .left-tittle {
        font-size: 14px;
    }
  
    .main-tittle {
        text-align: center;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
        padding-bottom: 12px;
    }
  
    .navbar-ghost {
        height: 64px;
    }
  
    .header-box-tittle {
        font-size: 24px;
        margin-bottom: 24px;
        text-align: center;
    }
  
    .header-box-info {
        display: flex;
        flex-direction: column;
    }
  
    .header-box-category {
        margin-bottom: 16px;
    }
  
    .header-box-content {
        padding: 24px;
    }
  }
  
  @media (max-width: 360px) {
    .left-tittle {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 170px;
    }
  }
  @media (max-width: 576px){
.name {
    padding: 24px;
}
}
@media (max-width: 576px){
    .back {
        display:none;
    }
    }